{% extends 'template.html' %}

{% block head %}
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/adminRooms.css">
    <title>Criar sala</title>
{% endblock head %}

{% block content %}
    <main class="content container">
      <h2>Criar sala</h2>
      <form action="/rooms" method="POST">
        <div class="input-group">
          <label for="city">Unidade preferida</label>
          <select name="city" id="city">
            <option value="1" {{ 'selected' if data.city == "1" }}>São Paulo</option>
            <option value="2" {{ 'selected' if data.city == "2" }}>Santos</option>
          </select>
        </div>
        <div class="input-group">
          <label for="room">Número</label>
          <input type="number" id="room" name="room" placeholder="Exemplo: 02" value="{{ data.room }}" />
        </div>
        <div class="input-group">
          <label for="desks">Mesas</label>
          <input type="number" id="desks" name="desks" placeholder="Exemplo: 6" value="{{ data.desks }}" />
        </div>
        <button class="button" onclick="Validate.allFields(event)" type="submit">Criar<img src="/assets/images/next.svg" alt=""></button>
      </form>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/validateForm.js"></script>
{% endblock scripts %}
