{% extends 'template.html' %}

{% block head %}
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/users.css">
    <title>Criar usuário</title>
{% endblock head %}

{% block content %}
    <main class="content container">
      <h2>Criar usuário</h2>
      <form action="/users" method="POST">
        <div class="input-group">
          <label for="name">Nome completo</label>
          <input type="text" id="name" name="name" value="{{ data.name }}" placeholder="Insira o nome" />
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <div class="input email">
            <input type="email" id="email" onblur="Validate.isEmail(this)" name="email" value="{{ data.email }}" placeholder="Insira o email" />
            <img src="/assets/images/email.svg" alt="">
          </div>
        </div>
        <div class="input-group">
          <label for="phone">Número de telefone</label>
          <input type="text" id="phone" onkeydown="Mask.apply(this, 'formatPhone');" name="phone" value="{{ data.phone }}" placeholder="+99(99)99999-9999" />
        </div>
        <div class="input-group">
          <label for="password">Senha</label>
          <div class="input password">
            <input type="password" id="password" name="password" placeholder="Insira sua senha"/>
            <img class="passwordButton" src="/assets/images/password.svg" alt="">
          </div>
        </div>
        <div class="input-group">
          <label for="city">Unidade preferida</label>
          <select name="city" id="city">
            <option value="1" {{ 'selected' if data.city == "1" }}>São Paulo</option>
            <option value="2" {{ 'selected' if data.city == "2" }}>Santos</option>
          </select>
        </div>
        <div class="input-group check">
          <input type="checkbox" name="is_admin" {{ 'checked' if user.is_admin }}>Administrador
        </div>
        <button class="button" onclick="Validate.allFields(event)" type="submit">Criar<img src="/assets/images/next.svg" alt=""></button>
      </form>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/validateForm.js"></script>
    <script src="/scripts/mask.js"></script>
    <script src="/scripts/showPassword.js"></script>
{% endblock scripts %}
