{% extends 'template.html' %}

{% block head %}
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/adminRooms.css">
    <title>Salas</title>
{% endblock head %}

{% block content %}
    <main class="content container">
      <p>Olá {{ session.username }}!</p>
      <small>Veja as salas atuais aqui!</small>
      {% if rooms.length <= 0 %}
      <p>Ainda não existem salas!</p>
      {% endif %}
      {% for city in cities %}
      <div class="rooms">
        <h2>{{ city.name }}</h2>
        <div class="grid">
          <div class="rooms-grid">
            <div>Nº</div>
            <div>Mesas</div>
            <div></div>
          </div>
          {% if city.rooms.length > 0 %}
          {% for room in city.rooms %}
          <div class="rooms-grid">
            <div>{{ room.room }}</div>
            <div>{{ room.limits }}</div>
            <div data-room="{{ room.room }}" data-id="{{ room.id }}" data-unity="{{ city.name }}" class="deleteRoom"><i class="material-icons delete">close</i></div>
          </div>
          {% endfor %}
          {% else %}
          <div class="rooms-grid">
            <div>-</div>
            <div>-</div>
            <div></div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <a href="/rooms/create" class="button">Criar sala<img src="/assets/images/next.svg" alt=""></a>
    </main>
    <div class="modal-overlay">
      <div class="modal">
        <a class="close" href="#" onclick="Modal.close(event);"><i class="material-icons">close</i></a>
        <div class="modal-content">
          <p>Deseja realmente remover a sala <strong><span class="roomId"></span></strong> da unidade de <strong><span class="unity"></span></strong></p>
          <button type="submit" form="deleteRoom" class="button">Confirmar</button>
        </div>
      </div>
    </div>
    <form action="/rooms?_method=DELETE" id="deleteRoom" method="post">
      <input type="hidden" name="id">
    </form>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/deleteRoom.js"></script>
{% endblock scripts %}
