{% extends 'template.html' %}

{% block head %}
    <link rel="stylesheet" href="/styles/users.css">
    <title>Usuários</title>
{% endblock head %}

{% block content %}
    <main class="content container">
      <p>Olá {{ session.username }}!</p>
      <small>Veja os usuários atuais aqui!</small>
      <div class="users">
      {% for user in users %}
        <div class="user">
          <div>{{ user.name }}</div>
          <small>{{ user.email }}</small>
          <div class="user-actions">
            <a href="/users/{{ user.id }}/edit">Editar</a>
            {% if not user.is_admin %}
            <form action="/users?_method=DELETE" method="POST">
              <input type="hidden" name="id" value="{{ user.id }}">
              <button type="submit">Remover</button>
            </form>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
      <a href="/users/create" class="button">Criar Usuário<img src="/assets/images/next.svg" alt=""></a>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/deleteRoom.js"></script>
{% endblock scripts %}
