.container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: initial;
}

main p {
  color: #303033;
  font-weight: 700;
}

small {
  margin: .8rem 0 3.2rem;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #8B8B8B;
}

.rooms-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2.4rem 2.4rem;
  gap: .8rem;
}

.rooms-grid div {
  align-self: center;
}

.rooms-grid i.edit {
  color: var(--secondary-color);
  cursor: pointer;
}

.rooms-grid i.delete {
  color: var(--primary-color);
  cursor: pointer;
}

.grid {
  margin: 3.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* =========== CREATE ROOMS =========== */
main > h2 {
  margin-bottom: 1.6rem;
}
