.container {
  flex-direction: column;
  max-width: 300px;
}

.unities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
  width: 100%;
  margin: 1.8rem 0;
}

.unities .unity {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.unities .unity .image {
  width: 100%;
  /* height: 12.5rem; */
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: .4rem;
}

.unities .unity img {
  border-radius: 1.2rem;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
}

.unities .unity.active img {
  border: 3px solid var(--secondary-color);
}

form {
  width: 100%;
}

button.button {
  width: 100%;
}