.container {
  max-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

input, select {
  margin-top: .4rem;
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  font-size: 16px;
  color: #333;
  outline: none;
  border-radius: .8rem;
  border: 1px solid #C8C8C8;
}

