.container {
  max-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.label {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
}

input,
select {
  margin-top: 0.4rem;
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  font-size: 16px;
  color: #333;
  outline: none;
  position: relative;
  border-radius: 0.8rem;
  border: 1px solid #c8c8c8;
  transition: border 100ms;
}

.input-group:not(.check) {
  position: relative;
}

.input-group:not(.check):focus-within::after {
  content: "";
  width: calc(100% - 3.2rem);
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  left: 1.6rem;
  bottom: 0px;
}

.input {
  position: relative;
}

.input img {
  position: absolute;
  width: 1.6rem;
  top: 1.3rem;
  right: 1.3rem;
}

.input.password img {
  top: 1.5rem;
  width: 1.8rem;
  cursor: pointer;
}

.input-group.check {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.input-group.check input {
  width: initial;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.input-box {
  width: 100%;
  background-color: #C8C8C8;
  padding: 2.4rem 3.2rem;
  border-radius: .8rem;
  position: relative;
}

.input-box.active {
  color: #fff;
  background-color: var(--primary-color);
}

.input-box::before {
  content: "";
  position: absolute;
  top: .8rem;
  left: 0;
  height: 75%;
  width: 2px;
  background-color: var(--primary-color);
}