.container {
  max-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

input,
select {
  margin-top: 0.4rem;
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  font-size: 16px;
  color: #333;
  outline: none;
  border-radius: 0.8rem;
  border: 1px solid #c8c8c8;
  transition: border 100ms;
}

input:focus {
  border: 2px solid var(--primary-color);
}

.input {
  position: relative;
}

.input img {
  position: absolute;
  width: 1.6rem;
  top: 1.3rem;
  right: 1.3rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
