header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 6.4rem;
}

header .user-info {
  display: none;
}

header nav {
  margin: auto 0;
}

header nav ul {
  display: flex;
  width: 100%;
  gap: 1.6rem;
  align-items: center;
  list-style-type: none;
}

header ul li a, header button {
  position: relative;
}

header ul li a::after, header button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: .2rem;
  background-color: var(--primary-color);
  transition: all 400ms ease-in-out;
}

header ul li a:hover::after, header button:hover::after {
  width: 100%;
}

header form {
  width: initial;
}

header button {
  font-size: 1.6rem;
  cursor: pointer;
  background-color: transparent;
}


.hamburguer {
  display: none;
}

@media (max-width: 600px) {
  header .hamburguer {
    display: initial;
  }

  header  ul li, header form {
    display: none;
  }
  
  .header-overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .header-overlay.active header.content {
    position: fixed;
    top: 0;
    left: 9.5rem;
    width: initial;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    display: flex;
    padding: 6.5rem 2.4rem 1.6rem;
    flex-direction: column;
    text-align: end;
  }

  .header-overlay.active header .user-info {
    width: 100%;
    display: initial;
    color: #303033;
  }
  
  .header-overlay.active header .user-info h3 {
    font-size: 20px;
  }

  .header-overlay.active header .user-info p {
    color: #8B8B8B;
    font-size: 12px;
    margin-top: .8rem;
  }

  .header-overlay.active nav .links {
    display: flex;
    flex-direction: column;
  }

  .header-overlay.active nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .header-overlay.active nav ul, .header-overlay.active form {
    width: initial;
    flex-direction: column;
  }

  .header-overlay.active .hamburguer {
    position: fixed;
    top: 2.4rem;
    right: 2.4rem;
  }

  .header-overlay.active ul li, .header-overlay.active form {
    display: initial;
  }
  
}
