header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

header nav {
  margin: auto 0;
}

header nav ul {
  display: flex;
  width: 100%;
  gap: 1.6rem;
  align-items: center;
  list-style-type: none;
}

header ul li a {
  position: relative;
}

header ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: .2rem;
  background-color: var(--primary-color);
  transition: all 400ms ease-in-out;
}

header ul li a:hover::after {
  width: 100%;
}

.hamburguer {
  display: none;
}

@media (max-width: 600px) {
  .hamburguer {
    display: initial;
  }

  ul li {
    display: none;
  }
  
  header.active {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  header.active nav {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header.active nav ul {
    width: initial;
    flex-direction: column;
  }

  header.active .hamburguer {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
  }

  header.active ul li {
    display: initial;
  }
  
  header.active ul li a {
    font-size: 3.6rem;
    font-weight: 600;
  }
}
