:root {
  font-size: 62.5%;
  --primary-color: #FC6027;
  --secondary-color: #FE885C;
  --third-color: #5C5C5C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #111;
}

/* ============ GENERAL ============ */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* justify-content: space-between; */
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* ============ LINKS AND BUTTONS ============ */
button {
  border: none;
}

.button {
  cursor: pointer;
  padding: 1.2rem 0;
  border-radius: .8rem;
  background-color: var(--primary-color);
  transition: all 400ms;
  font-weight: 700;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.7);
}

a {
  font-weight: 500;
}


/* ============ STRUCTURE ============ */
.content {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 940px;
}

header.content {
  height: 6.4rem;
}

.container {
  display: flex;
  align-items: center;
  
  /* padding: auto 0; */
}

.other-links {
  text-align: center;
  font-size: 1.4rem;
}


/* ================ MESSAGE POPUP ================ */
.message-popup {
  position: fixed;
  bottom: 1.4rem;
  right: -25rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: .8rem;
  font-weight: 500;
  max-width: min(90%, 25rem);
  word-wrap: break-word;
  word-break: normal;
  /* flex-wrap: wrap; */
  opacity: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transition: all 400ms ease-in-out;
}

.message-popup.active {
  right: 1.4rem;
  opacity: 1;
}

.message-popup img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.2rem;
}