.modal-overlay {
  position: fixed;
  background-color: #5C5C5C80;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 400ms;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-overlay .modal {
  transition: all 400ms;
  margin-top: 100rem;
}

.modal-overlay.active .modal {
  margin-top: initial;
}

.button {
  margin-top: 1.6rem;
}


.modal {
  width: 90%;
  max-width: 50rem;
  background-color: #fff;
  padding: 4.6rem 3.2rem;
  /* text-align: center; */
  border-radius: .8rem;
  position: relative;
}

.modal a.close {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.modal-content p {
  font-size: 1.4rem;
  color: #333;
}

.modal-content form {
  margin-top: 1.2rem;
  max-width: 300px;
}

@media (max-width: 450px) {
  .modal-overlay {
    align-items: flex-end;
  }

  .modal {
    width: 100%;
  }
}