.container {
  flex-direction: column;
  padding: 2.4rem 0;
  max-width: 300px;
  align-items: initial;
}

.rooms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
  width: 100%;
  margin: 1.8rem 0;
}

.room {
  width: 100%;
  padding: 1.8rem;
  min-height: 12.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #FEBBA2;
  border-radius: .8rem;
  margin-bottom: .8rem;
}

.room-container p {
  text-align: center;
}

.desk {
  border-radius: 100%;
  background-color: #3CD242;
  width: 2.5rem;
  height: 2.5rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.desk.occuped {
  background-color: #D23C3C;
  cursor: not-allowed;
}

.desk.active {
  border: 3px solid #5C5C5C;
}


form {
  width: 100%;
}

.button {
  width: 100%;
}

#desksForm .button {
  opacity: 0.6;
  cursor: not-allowed;
}

.modal-content p {
  text-align: left;
}

.modal .button {
  margin-top: 1.6rem;
}