main p {
  color: var(--fourth-color);
  font-weight: 700;
}

main > small {
  margin: 0.8rem 0 3.2rem;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: var(--gray-color);
}

.users {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.user small {
  opacity: 0.8;
}

.user-actions {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-top: 0.8rem;
  font-size: 1.4rem;
}

.user-actions a {
  font-weight: 700;
  color: var(--secondary-color);
}

.user-actions form button {
  display: inline-block;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 700;
  background-color: transparent;
  color: #ff4646;
}

/* =========== CREATE USERS =========== */
main > h2 {
  margin-bottom: 1.6rem;
}
