<div class="header-overlay content">
  {% if content != 'index' and content != 'login' and content != 'reset-password' and content != 'success' %}
  <a href="#" onclick="history.back()"><img src="/assets/images/back.svg" alt="Voltar"></a>
  {% endif %}
  <header>
    {% if session.userId %}
    <div class="user-info">
      <div></div>
      <div class="user-description">
        <h3>{{ session.username }}</h3>
        <p>{{ session.useremail }}</p>
      </div>
    </div>
    {% endif %}
    <nav>
      <ul>
        {% if not session.userId %}
        <div class="links">
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Cadastar-se</a></li>
        </div>
        {% else %}
        <div class="links">
          <li><a href="/">Início</a></li>
          <li><a href="/schedule">Agendamento</a></li>
          <li><a href="/users/{{ session.userId }}/edit">Alterar dados</a></li>
          <li><a href="/cities">Unidade preferida</a></li>
          {% if session.is_admin %}
          <li><a href="/rooms">Salas</a></li>
          <li><a href="/users">Usuários</a></li>
          {% endif %}
        </div>
        <form action="/logout" method="POST"><button type="submit">Sair</button></form>
        {% endif %}
        <a href="#" class="hamburguer" onclick="Menu.open();"><i class="material-icons">menu</i></a>
      </ul>
    </nav>
  </header>
</div>