<div class="modal-overlay password">
  <div class="modal">
    <a class="close" href="#" onclick="Modal.close(event);"><i class="material-icons">close</i></a>
    <div class="modal-content">
      <h3>Esqueceu a senha?</h3>
      <p>Iremos enviar um email, para você criar outra</p>
      <form action="/forgot-password" method="post">
        <div class="input-group">
          <label for="email">Insira seu email:</label>
          <div class="input email">
            <input type="email" name="email" onblur="Validate.isEmail(this)" placeholder="email@email.com" required>
            <img src="/assets/images/email.svg" alt="">
          </div>
        </div>
        <button type="submit" onclick="Validate.allFields(event)" class="button">Recuperar senha</button>
      </form>
    </div>
  </div>
</div>