<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/cities.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="//db.onlinewebfonts.com/c/c02d97eb2b2899bdb0d87b182a64333d?family=Metropolis" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Selecionar unidade</title>
  </head>
  <body>
    {% include 'partials/menu.html' %}
    <main class="content container">
      <h1>Selecione sua unidade</h1>
      {% include "partials/cities.html" %}
      <form action="/cities" method="POST">
        <input type="hidden" name="cityId" value="{{ cityId }}">
        <button class="button">Selecionar<img src="/assets/images/next.svg" alt=""></button>
      </form>
    </main>
    {% include "partials/messagePopup.html" %}
    <script src="/scripts/header.js"></script>
    <script src="/scripts/unities.js"></script>
  </body>
</html>
