{% extends 'template.html' %}

{% block head %}
    <link rel="stylesheet" href="/styles/cities.css">
    <title>Selecionar unidade</title>
{% endblock head %}

{% block content %}
    <main class="content container">
      <h1>Selecione sua unidade</h1>
      {% include "partials/cities.html" %}
      <form action="/cities" method="POST">
        <input type="hidden" name="cityId" value="{{ cityId }}">
        <button class="button">Selecionar<img src="/assets/images/next.svg" alt=""></button>
      </form>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/unities.js"></script>
{% endblock scripts %}
