{% set content = "index" %}
<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="//db.onlinewebfonts.com/c/c02d97eb2b2899bdb0d87b182a64333d?family=Metropolis" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Agendamentos</title>
  </head>
  <body>
    {% include 'partials/menu.html' %}
    <main class="content container">
      <p>Olá {{ name }}!</p>
      <small>Veja mais sobre ele aqui!</small>
      {% if schedules.length <= 0 %}
      <p>Você ainda não possui nenhuma reserva!</p>
      {% endif %}
      <div class="grid">
        <div class="success-schedule-grid">
          <div>Dia</div>
          <div>Sala</div>
          <div>Mesa</div>
          <div>Unidade</div>
          <div></div>
        </div>
        {% if schedules.length > 0 %}
        {% for schedule in schedules %}
        <div class="success-schedule-grid">
          <div>{{ schedule.day }}</div>
          <div>{{ schedule.room }}</div>
          <div>{{ schedule.desk }}</div>
          <div>{{ schedule.unity }}</div>
          <div data-id="{{ schedule.scheduleId }}" 
          data-date="{{ schedule.date }}" 
          data-desk="{{ schedule.desk }}" 
          data-room="{{ schedule.room }}" 
          data-unity="{{ schedule.unity }}" class="cancelSchedule"><i class="material-icons">close</i></div>
        </div>
        {% endfor %}
        {% else %}
        <div class="success-schedule-grid">
          <div>-</div>
          <div>-</div>
          <div>-</div>
          <div>-</div>
          <div></div>
        </div>
        {% endif %}
      </div>
      <a href="/schedule" class="button">Reservar<img src="/assets/images/next.svg" alt=""></a>
    </main>
    <div class="modal-overlay">
      <div class="modal">
        <a class="close" href="#" onclick="Modal.close(event);"><i class="material-icons">close</i></a>
        <div class="modal-content">
          <p>Confirmar o cancelamento da <strong>mesa <span class="modalDesk"></span></strong> da <strong>sala <span class="modalRoom"></span></strong> para o dia <strong><span class="modalDate"></span></strong> na unidade de <strong><span class="modalUnity"></span></strong></p>
          <button type="submit" form="deleteSchedule" onclick="Validate.allFields(event)" class="button">Confirmar</button>
        </div>
      </div>
    </div>
    <form action="/schedule/delete" id="deleteSchedule" method="post">
      <input type="hidden" name="id">
    </form>
    {% include "partials/messagePopup.html" %}
    <script src="/scripts/header.js"></script>
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/mask.js"></script>
    <script src="/scripts/validateForm.js"></script>
    <script src="/scripts/cancelSchedule.js"></script>
  </body>
</html>
