{% extends 'template.html' %}
{% set content = "login" %}

{% block content %}
    <main class="content container {{ content }}">
      <img src="/assets/images/hybrid.svg" class="logo" alt="Hybrid">
      <form action="/login" method="POST">
        <div class="input-group">
          <label for="email">Email:</label>
          <div class="input email">
            <input type="email" id="email" onblur="Validate.isEmail(this)" name="email" value="{{ data.email }}" placeholder="Insira seu email"/>
            <img src="/assets/images/email.svg" alt="">
          </div>
        </div>
        <div class="input-group">
          <div class="label">
            <label for="password">Senha:</label>
            <a href="#" onclick="Modal.openPassword(event)"><small>Esqueceu?</small></a>
          </div>
          <div class="input password">
            <input type="password" id="password" name="password" placeholder="Insira sua senha"/>
            <img class="passwordButton" src="/assets/images/password.svg" alt="">
          </div>
        </div>
        <button type="submit" class="button" onclick="Validate.allFields(event)">Entrar<img src="/assets/images/next.svg" alt=""></button>
        <div class="other-links">
          <small>Não é cadastrado?<br><a href="/signup">Cadastre-se</a></small>
        </div>
      </form>
    </main>
    {% include 'partials/modalPassword.html' %}
{% endblock content %}

{% block scripts %}
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/validateForm.js"></script>
    <script src="/scripts/showPassword.js"></script>
{% endblock scripts %}
