<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <fom>
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
        </div>
        <div class="input-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="button">Login</button>
        <p>Não é cadastrado? Cadastre-se</p>
        <p>Esqueci a senha</p>
    </fom>
</body>
</html>