{% extends 'template.html' %}
{% set content = "reset-password" %}

{% block head %}
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/signup.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
    <title>Redefinição de senha</title>
{% endblock head %}

{% block content %}
    <main class="content container">
      <h4>Redefinição de senha</h4>
      <small>Por favor digite seu e-mail para enviarmos o código de verificação.</small>
      <form action="/password-reset" method="POST">
        <div class="input-group">
          <label for="email">Email</label>
          <div class="input email">
            <input type="email" id="email" onblur="Validate.isEmail(this)" name="email" value="{{ data.email }}" placeholder="Digite seu email" />
            <img src="/assets/images/email.svg" alt="">
          </div>
        </div>
        <div class="input-group">
          <label for="password">Nova senha</label>
          <div class="input password">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Digite sua nova senha"
            />
            <img class="passwordButton" src="/assets/images/password.svg" alt="">
          </div>
        </div>
        <div class="input-group">
          <label for="passwordRepeat">Confirme sua senha</label>
          <div class="input password">
            <input
            type="password"
            id="passwordRepeat"
            name="passwordRepeat"
            placeholder="Confirme sua nova senha"
            />
            <img class="passwordButton" src="/assets/images/password.svg" alt="">
          </div>
        </div>
        <input type="hidden" name="token" value="{{ token }}" />
        <button
          class="button"
          onclick="Validate.allFields(event)"
          type="submit"
        >
          Recuperar<img src="/assets/images/next.svg" alt="">
        </button>
      </form>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/validateForm.js"></script>
    <script src="/scripts/showPassword.js"></script>
{% endblock scripts %}
