<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="//db.onlinewebfonts.com/c/c02d97eb2b2899bdb0d87b182a64333d?family=Metropolis" rel="stylesheet" type="text/css"/>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Esqueceu senha</title>
  </head>
  <body>
    <header class="content">
      <nav>
        <ul>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Cadastar-se</a></li>
          <a href="#" class="hamburguer" onclick="Menu.open();"
            ><i class="material-icons">menu</i></a
          >
        </ul>
      </nav>
    </header>

    <main class="content container">
      <form action="/password-reset" method="POST">
        <h2>Esqueceu a senha</h2>
        <div class="input-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            onblur="Validate.apply(this, 'isEmail')"
            value="{{ data.email }}"
            placeholder="Digite o seu email"
          />
        </div>
        <div class="input-group">
          <label for="password">Nova senha</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Digite sua nova senha"
          />
        </div>
        <div class="input-group">
          <label for="passwordRepeat">Confirme sua senha</label>
          <input
            type="password"
            id="passwordRepeat"
            name="passwordRepeat"
            placeholder="Confirme sua nova senha"
          />
        </div>
        <input type="hidden" name="token" value="{{ token }}" />
        <button
          class="button"
          onclick="Validate.allFields(event)"
          type="submit"
        >
          Recuperar
        </button>
      </form>
    </main>
    {% include "partials/messagePopup.html" %}
    <script src="/scripts/header.js"></script>
    <script src="/scripts/validateForm.js"></script>
  </body>
</html>
