{% set content = "reset-password" %}
<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/signup.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="//db.onlinewebfonts.com/c/c02d97eb2b2899bdb0d87b182a64333d?family=Metropolis" rel="stylesheet" type="text/css"/>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Redefinição de senha</title>
  </head>
  <body>
    {% include 'partials/menu.html' %}
    <main class="content container">
      <h4>Redefinição de senha</h4>
      <small>Por favor digite seu e-mail para enviarmos o código de verificação.</small>
      <form action="/password-reset" method="POST">
        <div class="input-group">
          <label for="email">Email</label>
          <div class="input email">
            <input type="email" id="email" onblur="Validate.isEmail(this)" name="email" value="{{ data.email }}" placeholder="Digite seu email" />
            <img src="/assets/images/email.svg" alt="">
          </div>
        </div>
        <div class="input-group">
          <label for="password">Nova senha</label>
          <div class="input password">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Digite sua nova senha"
            />
            <img class="passwordButton" src="/assets/images/password.svg" alt="">
          </div>
        </div>
        <div class="input-group">
          <label for="passwordRepeat">Confirme sua senha</label>
          <div class="input password">
            <input
            type="password"
            id="passwordRepeat"
            name="passwordRepeat"
            placeholder="Confirme sua nova senha"
            />
            <img class="passwordButton" src="/assets/images/password.svg" alt="">
          </div>
        </div>
        <input type="hidden" name="token" value="{{ token }}" />
        <button
          class="button"
          onclick="Validate.allFields(event)"
          type="submit"
        >
          Recuperar<img src="/assets/images/next.svg" alt="">
        </button>
      </form>
    </main>
    {% include "partials/messagePopup.html" %}
    <script src="/scripts/header.js"></script>
    <script src="/scripts/validateForm.js"></script>
    <script src="/scripts/showPassword.js"></script>
  </body>
</html>
