<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/desks.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="//db.onlinewebfonts.com/c/c02d97eb2b2899bdb0d87b182a64333d?family=Metropolis" rel="stylesheet" type="text/css"/>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Selecionar sala</title>
  </head>
  <body>
    {% include 'partials/menu.html' %}
    <main class="content container">
      <h1>Agendamento</h1>
      <h2>{{ dateTime }}</h2>
      <h2>{{ cityName }}</h2>
      <div class="rooms">
        {% for room in rooms %}
        <div class="room-container">
          <div class="room">
            {% for desk in room.desks %}
            <div class="desk{{ ' occuped' if desk.occuped }}" data-id="{{ desk.id }}" data-position="{{ desk.position }}" data-roomid="{{ room.roomId }}"></div>
            {% endfor %}
          </div>
          <p>Sala {{ room.roomId }}</p>
        </div>
        {% endfor %}
      </div>
      <form action="/desks" id="desksForm" method="POST">
        <input type="hidden" name="desk" value="{{ desk }}" />
        <input type="hidden" name="day" value="{{ day }}" />
        <a class="button" href="#">Agendar</a>
      </form>
    </main>
    <div class="modal-overlay">
      <div class="modal">
        <a class="close" href="#" onclick="Modal.close(event);"><i class="material-icons">close</i></a>
        <div class="modal-content">
          <p>Confirmar a reserva da <strong>mesa <span class="modalDesk"></span></strong> da <strong>sala <span class="modalRoom"></span></strong> para o dia <strong>{{ dateTime }}</strong> na unidade de <strong>{{ cityName }}</strong></p>
          <button type="submit" form="desksForm" onclick="Validate.allFields(event)" class="button">Confirmar</button>
        </div>
      </div>
    </div>
    {% include "partials/messagePopup.html" %}
    <script src="/scripts/header.js"></script>
    <script src="/scripts/rooms.js"></script>
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/validateForm.js"></script>
  </body>
</html>
