<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/schedule.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="//db.onlinewebfonts.com/c/c02d97eb2b2899bdb0d87b182a64333d?family=Metropolis" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Agendamento</title>
  </head>
  <body>
    {% include 'partials/menu.html' %}
    <main class="content container">
      <h3>Agendamento</h3>
      <div class="days-container">
        <div class="days">
          {% for day in days %}
          <div class="day" data-datetime="{{ day.datetime }}">
            <div class="month">{{ day.month }}</div>
            <div class="day-info">
              <p class="date">{{ day.day }}</p>
              <p class="weekday">{{ day.formattedDay }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="unities">
        <p>Unidade</p>
        <div class="unities-box">
          <div class="input-box unity {{ 'active' if cityId == 1 }}" data-id="1">São Paulo</div>
          <div class="input-box unity {{ 'active' if cityId == 2 }}" data-id="2">Santos</div>
        </div>
      </div>
      <form action="/schedule" method="POST">
        <input type="hidden" name="day" value="{{ day }}" />
        <input type="hidden" name="cityId" value="{{ cityId }}" />
        <button type="submit" onclick="Validate.allFields(event)" class="button">Continuar<img src="/assets/images/next.svg" alt=""></button>
      </form>
    </main>
    {% include "partials/messagePopup.html" %}
    <script src="/scripts/header.js"></script>
    <script src="/scripts/days.js"></script>
    <script src="/scripts/unities.js"></script>
    <script src="/scripts/validateForm.js"></script>
  </body>
</html>
