<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/cities.css" />
    <link rel="stylesheet" href="/styles/schedule.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Agendamento</title>
  </head>
  <body>
    <header class="content">
      <nav>
        <ul>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Cadastar-se</a></li>
          <a href="#" class="hamburguer" onclick="Menu.open();"><i class="material-icons">menu</i></a>
        </ul>
      </nav>
    </header>
    <main class="content container">
      <h3>Agendamento</h3>
      <div class="days">
        <div class="day active" data-datetime="2021-09-16">
          <div class="month">Outubro</div>
          <div class="day-info">
            <p class="date">11</p>
            <p class="weekday">Segunda-feira</p>
          </div>
        </div>
        <div class="day" data-datetime="2021-09-17">
          <div class="month">Outubro</div>
          <div class="day-info">
            <p class="date">12</p>
            <p class="weekday">Terça-feira</p>
          </div>
        </div>
      </div>
      {% include "partials/cities.html" %}
      <form action="/signup" method="POST">
        <input type="hidden" name="day" value="{{ day }}" />
        <input type="hidden" name="cityId" value="{{ cityId }}" />
      </form>
    </main>
    {% include "partials/messagePopup.html" %}
    <script src="/scripts/header.js"></script>
    <script src="/scripts/days.js"></script>
    <script src="/scripts/unities.js"></script>
  </body>
</html>
