<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form action="/signup" method="post">
        <div class="input-group">
            <label for="fname">Nome</label><br>
            <input type="text" id="fname" name="fname">
        </div>
        <div class="input-group">
            <label for="lname">Sobrenome</label>
            <input type="text" id="lname" name="lname">
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <div class="input-group">
            <label for="phone">Número de telefone</label>
            <input type="text" id="phone" name="phone">
        </div>
        <div class="input-group">
            <label for="cars">Unidade preferida</label>
                <select name="unidade" id="unidade">
                    <option value="0">São Paulo</option>
                    <option value="1">Santos</option>
                </select>
        </div>
        <button type="button">Cadastrar</button>
      </form>
</body>
</html>