{% extends 'template.html' %}
{% set content = "success" %}

{% block head %}
    <link rel="stylesheet" href="/styles/successSchedule.css">
    <title>Agendamento sucedido!</title>
{% endblock head %}

{% block content %}
    <main class="content container">
      <h3>Agendado com sucesso!</h3>
      <p>Veja mais sobre ele aqui!</p>
      <div class="grid">
        <div class="success-schedule-grid">
          <div>Dia</div>
          <div>Sala</div>
          <div>Mesa</div>
        </div>
        <div class="success-schedule-grid">
          <div>{{ day }}</div>
          <div>{{ room }}</div>
          <div>{{ desk }}</div>
        </div>
      </div>
      <a href="{{ gcalendar }}" target="_blank" class="button gcalendar">Salvar<img src="/assets/images/calendar.svg" alt=""></a>
      <a href="/" class="button">Voltar<img src="/assets/images/white-back.svg" alt=""></a>
    </main>
{% endblock content %}
