<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'partials/styles.html' %}
    {% block head %}
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
    <link rel="stylesheet" href="/styles/signup.css" />
    <title>Login</title>
    {% endblock head %}
  </head>
  <body>
    {% include 'partials/menu.html' %}

    {% block content %}
    {% endblock content %}

    {% include "partials/messagePopup.html" %}

    {% block scripts %}
    {% endblock scripts %}
    <script src="/scripts/header.js"></script>
  </body>
</html>
